<div class="container">
  <h1>Gabi's Trade Store</h1>

  <h4>Most Reviewed Products:</h4>
  <%= link_to @most_reviewed.name, product_path(@most_reviewed) %>

  <h4>Recent Reviews:</h4>
  <% @most_recent_products.each do |product| %>
  <%= link_to product.name, product_path(product) %>
  <% end %>

</div>
