<div class="container">
  <div class="jumbotron">
    <h1>Gabi's Book Store</h1>

    <p>
      We review books, please add yours to our collection.
    </p>
  </div>
  <div class="container">
      <h3>Most Reviewed Books:</h3>
      <% @most_reviewed.each do |review| %>
      <%= link_to review.name, product_path(review.id) %>
      <% end %>

      <h3>Recent Reviews:</h3>
      <% @most_recent.each do |product| %>
      <%= link_to product.name, product_path(product) %>
      <% end %>

      <h3><%= link_to "All Books", products_path%></h3>
  </div>
</div>
