@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: url('/assets/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

html
{
  height:100%
}

.jumbotron {
  // background: rgb(200, 54, 54);
  background: rgba(200, 54, 54, 0.5);
}

.well {
   background-color: rgba(245, 245, 245, 0.4);
}
