@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: url('/assets/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

html
{
  height:100%
}
