<div class="container">
  <div class="well">

  <h1>Books</h1>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
  </div>

  <h3><%= link_to "Add New", new_product_path %></h3>
  <h3><%= link_to "Home", root_path %></h3>
</div>
