<% content_for(:title, "Gabi's | New Product") %>

<h1>Create a New Product</h1>
<br>
<%= render "form" %>

<!-- <% if @list.errors.any? %>
  <h3>Oops there were some errors. Please try again:</h3>
  <ul>
    <% @list.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %> -->
